@font-face {
    font-family: 'codacaptionheavy';
    src: url('CodaCaption-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThyssenJRegular';
    src: url('thysen-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CloisterBlack';
    src: url('cloisterblack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
	background:url(../images/xmas_bg1.jpg) center repeat;
	color: #141411;
	font-size: 12px;
	line-height:18px;
	padding: 0px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
}

.articleswrapper{
	height:770px;
	margin-left: 33px;
	width: 1811px;
	position: relative;
	overflow: hidden;
}

#articles{
	position: absolute;
	left: -1811px; /* first article is always hidden and shrinks in width */
	width: 5433px; /* can contain 3 articles of 1811px */
}

.article{
	width: 1811px;
	float: left;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 1.0s ease-in-out;
	-moz-transition: all 1.0s ease-in-out;
	transition: all 1.0s ease-in-out;
}

.article .articletitle{
	font-family: "codacaptionheavy";
	font-size: 50px;
	height: 49px;
	padding-top: 26px;

	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
}

.article img{
	float: left;
	margin-right: 20px;
	width: 920px;
}









