!!! 5
html
	head
		title= title
		meta(charset='utf-8')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/camera.css')
		script(src='/socket.io/socket.io.js')
		script(src='/javascripts/jquery-1.7.1.min.js')
		script(src='/javascripts/cascades/haarcascade_frontalface_alt2.js')
		script(src='/javascripts/cascades/haarcascade_mcs_nose.js')
		script(src='/javascripts/cascades/haarcascade_mcs_mouth.js')
		script(src='/javascripts/vintage.js')
		script(src='/javascripts/step.js')
		script(src='/javascripts/async.js')
		script(src='/javascripts/camera.js')


	body
		.row
			.twelve.columns
				h2#title #{title}
			.nine.columns


		.row
			.twelve.columns
				div(style="text-align:center")
					video(autoplay, style="width:100%")
					canvas#maincanvas(style="display:none; width:100%", width="640", height="480")

		br

		.row
			.twelve.columns.panel
				.six.columns
					h4#instructions Press SPACE
				.six.columns
					h4#tryagain.right Sorry... try again



		.row
			.twelve.columns#timecompletion
				span Completed in&nbsp;
				span#time x
				span &nbsp;seconds




		footer.row
			.twelve.columns
				hr
				.row
					.six.columns
						p MiX 2012
					.six.columns
						ul.link-list.right
							li
								a(href='http://crockysam.wordpress.com') Sam Decrock
							li
								a(href='http://mix.iminds.be') MiX
							li
								a(href='https://github.com/SamDecrock/xmas-beardifier') Fork me on Github

		canvas#scaledcanvas(style="display:none")

